AYD_IMAGE_TAG={{ ayd_image_tag }}

BACKEND_URL={{ ayd_backend_url }}
FRONTEND_URL={{ ayd_frontend_url }}
KEYCLOAK_URL={{ ayd_kc_url }}

HTTP_PROXY={{ proxy_address | default() }}
HTTPS_PROXY={{ proxy_address | default() }}

TRUST_STORE={{ pki_trust_store_file }}

AZURE_OPENAI_API_KEY={{ azure_openai_api_key }}
AZURE_OPENAI_ENDPOINT={{ azure_openai_endpoint }}
