AYD_IMAGE_TAG={{ ayd_image_tag }}

BACKEND_URL={{ ayd_backend_url }}
FRONTEND_URL={{ ayd_frontend_url }}
KEYCLOAK_URL={{ ayd_kc_url }}

HTTP_PROXY={{ proxy_address | default() }}
HTTPS_PROXY={{ proxy_address | default() }}

TRUST_STORE=/usr/share/trust_store.pem
